.main .loading {
    width: 50;
  }
  
  .main input[type="text"],
  .main input[type="number"],
  .main select {
    padding: 12px 16px;
    border: 1px solid #10a37f;
    border-radius: 4px;
    margin-bottom: 12px;
    margin-top: 4px;
  }